.gameBoard {
  width: 100vw;
  height: 100vh;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  background: linear-gradient(#87ceeb, #e0f6ff);
  overflow: hidden;

  .pipeImg {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipeMove 1.5s infinite linear;
  }

  .marioImg {
    width: 150px;
    position: absolute;
    bottom: 0;
  }

  .cloudsImg {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
    z-index: 1;
  }

  .jump {
    animation: marioJump 500ms, ease-out;
  }

  .pontuacao {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    margin-right: 30px;
    margin-top: 30px;
    z-index: 2;

    h1 {
      margin-right: 30px;
    }
  }
}

@keyframes marioJump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes pipeMove {
  from {
    right: 0;
  }

  to {
    right: 101%;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }

  to {
    right: 100%;
  }
}
